*{
    margin-left: 30px
}
h1 {
    color: white;
    font-family: "Tahoma";
    font-size: 50px;
    line-height: 20px;
    margin-top:50px;
    margin-left: 140px;
    position:relative;left:60px;top:-420px;

}

p {
    color: white;
    font-family: "Tahoma";
    line-height:10px;
    margin-left: 140px;
    position:relative;left:60px;top:-400px;
}


.button1 a {
    text-decoration:none;
    border: 0.4px solid #F08080;
    color: white;
    font-size:12px;
    font-family: "Trebuchet MS";
    background:#F08080;
    padding: 10px;
    border-radius: 15px;
    position:relative;left:200px;top:-100px;
    font-weight: bold;
}

.button1 a:hover {
    border: 0.4px solid white;
    background-color:white;
    color:#F08080;
    padding: 10px;
    font-weight: bold;
}


.buttonb a, .buttong a, .buttonp a {
    font-weight:bold;
    text-decoration:none;
}



